
.navBar
{
width: 100%;
background-color: rgb(51,51,51);
overflow: hidden;
padding-top: 7px;
padding-left: 10px;
box-sizing: border-box;

}
a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
.newsSection
{
    margin-top: 20px;
    border: 1px solid rgb(204,204,204);
    width: 740px;
    text-indent: 10px;
    box-sizing: border-box;
}
.image
{
    float: right;
    padding-right: 20px;
    padding-bottom: 4px;
}
.heading{
    width: 100%;
    font-size: 50px;
    background-color: rgb(82,151,199);
    color: white;
    text-indent: 10px;
    padding: 20px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
.content
{
    margin-left: 30px;
}
li{
    padding-bottom: 10px;
}
ul {
    list-style-type: "-";
}
@media only screen  and (max-width:780px){
    .newsSection{
        margin-right: 8px;
        width:100%;
    }
}
@media only screen  and (max-width:420px){
    .heading{
        font-size: 30px;
        display: block;
    }
    .navBar a {
        display: block;
    }
    .image{
        float:none;
        /* display: block; */
        padding-left: 7%;
    }
}
