
.navBar
{
background-color: rgb(51,51,51);
overflow: hidden;
text-align: left;
padding-top: 7px;
padding-left: 10px;

}
a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
.newsSection
{
    margin-top: 20px;
    border: 1px solid rgb(204,204,204);
    width: 800px;
    margin-left: 30px;
    text-indent: 10px;
}
.image
{
    float: right;
    padding-right: 20px;
    padding-bottom: 4px;
}
.heading{
    height: 100%;
    font-size: 50px;
    background-color: rgb(82,151,199);
    color: white;
    text-indent: 10px;
    padding: 20px;
    overflow: scroll;
    position:relative;
    font-family: "Open Sans", sans-serif;

    
}

.content
{
    margin-left: 30px;
}
li{
    padding-bottom: 10px;
}
ul {
    list-style-type: "-";
}

